<!DOCTYPE html>
<html>
    <html lang="en">
    <style>
        h1 {
            font-weight: bold;
            color: red;
        }
    </style>
    <body>
        <h1> Thanks {{firstName}}!</h1>
    </body>
</html>