p {
    margin-bottom: .5rem;
    font-size: .75rem;
}

.navbar {
    background-color: white;
    color: black;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    width: 25px;
    height: 25px;
}

.nav-link {
    padding-right: 1rem;
    padding-left: 1rem; }

.header {
    height: 2rem;
    text-align: center;
}

.dropdown-menu {
    border: none;
    font-family: sans-serif;
    color: green;
}

.home-image-aspect {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
}

.home-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home-page-wrapper{
    padding: 4rem 0 4rem 0;
}

.home-page-info {
    text-align: center;
    padding: 1rem;
}

.thumbnail-container {
    margin-bottom: 1.5rem;
    padding: 0 1.5rem 0 1.5rem;
    text-align: center;
}
.thumbnail-aspect {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
}

.thumbnail-image {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 1rem;
    height: 100%;
    width: 100%;
}

.product-page-container {
    padding: 1rem 0 0 0;
}

.product-aspect {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.product-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-info {
    padding: 1rem;
}

.breadcrumb-container {
    padding: 0;
    width: 100%;
    background-color: white;
}

.breadcrumb {
    background-color: white;
}

.dropdown-toggle {
    width: 100%;
}

.dropdown-menu {
    align-items: center;
    width: 100%;
}

.dropdown-item {
    text-align: center;
}
