p {
    margin-bottom: .5rem;
    font-size: .75rem;
}
.navbar {
    background-color: white;
    color: black;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    width: 25px;
    height: 25px;
}

.nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    height: 2rem;
    text-align: center;
}

.dropdown-menu {
    border: none;
    font-family: sans-serif;
    color: green;
}

.home-image-aspect {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
}

.home-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.thumbnail-container {
    margin-bottom: 1rem;
    padding: 0 2rem 0 2rem;
}
.thumbnail-aspect {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
}

.thumbnail-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.product-page-container {
    padding-top: 10%;
}

.product-aspect {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
